@use "./mixins" as *;
@use "./variables" as *;
@use "./fonts" as *;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Avenir", Verdana, sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  color: $bandsite-primary-light;
  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 550;
  margin: 0;
  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  @include tablet {
    font-size: 0.875;
    line-height: 1.25;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $bandsite-primary-dark;
  padding: 1rem 0 0 0;
  @include tablet {
    padding: 0 2rem;
    justify-content: flex-end;
    height: 5rem;
  }
  @include desktop {
    padding-left: 8rem;
    height: 5rem;
  }

  &__title {
    text-align: center;
    display: inline-block;
    border: 4px solid rgba(0, 0, 0, 0);
    margin-bottom: 0.5625rem;
    @include tablet {
      margin-right: 2rem;
      margin-bottom: 0;
    }
  }

  &__link {
    color: $bandsite-primary-light;
    text-decoration: none;
    &:hover {
      color: rgb(187, 140, 187);
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include tablet {
    flex-direction: row;
    width: 50vw;
    height: 5rem;
    justify-content: flex-start;
  }
  @include desktop {
    height: 5rem;
    justify-content: flex-start;
  }
  &__items {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    @include tablet {
      width: 50%;
      height: 5rem;
      align-self: flex-end;
    }
    @include desktop {
      height: 5rem;
    }
  }
  &__link {
    text-decoration: none;
    color: $bandsite-primary-light;
    font-weight: 500;
    &:hover {
      color: rgb(187, 140, 187);
    }
    @include tablet {
      font-size: 1rem;
    }

    &--active {
      font-weight: 600;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    text-align: center;
    color: $bandsite-primary-light;
    width: 100%;
    margin: 0;
    padding-bottom: 1rem;
    @include tablet {
      width: auto;
      height: 100%;
      align-items: center;
      margin: 0 1rem;
      padding-bottom: 0;
    }
    &--active {
      border-bottom: 2px white solid;
    }
  }
}

.footer {
  background-color: $bandsite-primary-dark;
  color: $bandsite-primary-light;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    padding: 2rem 8rem;
    position: relative;
  }
  &__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include tablet {
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;
    }
  }
  &__title {
    font-weight: 550;
    margin: 0 0 1rem 0;
    display: inline-block;
    @include tablet {
      display: none;
    }
    &--wide {
      display: none;
      @include tablet {
        display: inline-block;
        margin: 0;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include tablet {
      justify-self: flex-start;
      margin-left: 3rem;
      display: none;
    }
    &--wide {
      display: none;
      @include tablet {
        display: inline-block;
        margin: 0;
      }
    }
  }

  &__image {
    height: 1.5rem;
    margin: 0 2rem 0 0;
  }

  &__link {
    display: inline-block;
    color: $bandsite-primary-light;
    text-decoration: none;
    &:hover {
      color: rgb(187, 140, 187);
    }
  }
  &__site {
    font-weight: 400;
    color: $bandsite-primary-light;
    margin-top: 2.5rem;
    &--wide {
      display: none;
      @include tablet {
        display: inline-block;
        margin: 0 0 auto auto;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 400;
      }
      @include desktop {
        position: absolute;
        top: 11%;
        right: 8%;
      }
    }
    &--bottom {
      display: inline-block;
      @include tablet {
        display: none;
      }
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include tablet {
      flex-direction: row;
      align-items: flex-end;
      width: 100%;
      max-width: 49.25rem;
    }
  }
  &__card {
    margin: 0.5rem 0.75rem 0.75rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include tablet {
      justify-content: flex-end;
    }
  }
  &__text {
    &--bold {
      font-weight: 600;
    }
  }

  &__email {
    color: $bandsite-primary-light;
    text-decoration: none;
    &:hover {
      color: rgb(187, 140, 187);
    }
  }

  &__middle {
    margin: 1.5rem 0;
  }

  &__top-text {
    margin-top: 1rem;
    @include tablet {
      margin-top: 2rem;
    }
  }
  &__copyright {
    margin: 1rem 0 0 0;
    @include tablet {
      margin: 2rem 0 0 0;
    }
  }
}
