$bandsite-primary-dark: (#323232);
$bandsite-secondary-text: (#afafaf);
$bandsite-light: (#ffffff);
$bandsite-darkest: (#000000);
$bandsite-secondary-light: (#e1e1e1);
$bandsite-light-background: (#fafafa);