$bandsite-primary-dark: (#323232);
$bandsite-primary-mid: (#afafaf);
$bandsite-primary-light: (#ffffff);
$bandsite-secondary-dark: (#000000);
$bandsite-secondary-mid: (#e1e1e1);
$bandsite-secondary-light: (#fafafa);
$bandsite-error-color: (#d22d2d);

$tablet-breakpoint: (768px);
$desktop-breakpoint: (1280px);

// $bandsite-primary-dark: (#323232);
// $bandsite-secondary-text: (#afafaf);
// $bandsite-light: (#ffffff);
// $bandsite-darkest: (#000000);
// $bandsite-secondary-light: (#e1e1e1);
// $bandsite-light-background: (#fafafa);
