$bandsite-primary-dark: (#323232);
$bandsite-primary-mid: (#afafaf);
$bandsite-primary-light: (#ffffff);
$bandsite-secondary-dark: (#000000);
$bandsite-secondary-mid: (#e1e1e1);
$bandsite-secondary-light: (#fafafa);
$bandsite-error-color: (#d22d2d);

$tablet-breakpoint: (768px);
$desktop-breakpoint: (1280px);
