@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Avenir", Verdana, sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  color: #ffffff;
}
@media (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 550;
  margin: 0;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  p {
    font-size: 0.875;
    line-height: 1.25;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #323232;
  padding: 1rem 0 0 0;
}
@media (min-width: 768px) {
  .header {
    padding: 0 2rem;
    height: 7vh;
    justify-content: flex-end;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-left: 8rem;
  }
}
.header__title {
  text-align: center;
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0);
  margin-bottom: 0.5625rem;
}
@media (min-width: 768px) {
  .header__title {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}
.header__link {
  color: #ffffff;
  text-decoration: none;
}
.header__link:hover {
  color: rgb(187, 140, 187);
}
.header .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .header .nav {
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 50vw;
  }
}
@media (min-width: 1280px) {
  .header .nav {
    height: 8vh;
    justify-content: flex-start;
  }
}
.header .nav__items {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .header .nav__items {
    width: 50%;
    height: 100%;
    align-self: flex-end;
  }
}
.header .nav__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}
.header .nav__link:hover {
  color: rgb(187, 140, 187);
}
@media (min-width: 768px) {
  .header .nav__link {
    font-size: 1.2rem;
  }
}
.header .nav__link--active {
  font-weight: 600;
}
.header .nav__item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  width: 100%;
  margin: 0;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .header .nav__item {
    width: auto;
    height: 100%;
    align-items: center;
    margin: 0 1rem;
    padding-bottom: 0;
  }
}
.header .nav__item--active {
  border-bottom: 4px white solid;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 2rem 8rem;
    position: relative;
  }
}
.footer__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .footer__top {
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
  }
}
.footer__title {
  font-weight: 550;
  margin: 0 0 1rem 0;
  display: inline-block;
}
@media (min-width: 768px) {
  .footer__title {
    display: none;
  }
}
.footer__title--wide {
  display: none;
}
@media (min-width: 768px) {
  .footer__title--wide {
    display: inline-block;
    margin: 0;
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .footer__socials {
    justify-self: flex-start;
    margin-left: 3rem;
    display: none;
  }
}
.footer__socials--wide {
  display: none;
}
@media (min-width: 768px) {
  .footer__socials--wide {
    display: inline-block;
    margin: 0;
  }
}
.footer__image {
  height: 1.5rem;
  margin: 0 2rem 0 0;
}
.footer__link {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}
.footer__link:hover {
  color: rgb(187, 140, 187);
}
.footer__site {
  font-weight: 400;
  color: #ffffff;
  margin-top: 2.5rem;
}
.footer__site--wide {
  display: none;
}
@media (min-width: 768px) {
  .footer__site--wide {
    display: inline-block;
    margin: 0 0 auto auto;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .footer__site--wide {
    position: absolute;
    top: 11%;
    right: 8%;
  }
}
.footer__site--bottom {
  display: inline-block;
}
@media (min-width: 768px) {
  .footer__site--bottom {
    display: none;
  }
}
.footer__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .footer__cards {
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    max-width: 49.25rem;
  }
}
.footer__card {
  margin: 0.5rem 0.75rem 0.75rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .footer__card {
    justify-content: flex-end;
  }
}
.footer__text--bold {
  font-weight: 600;
}
.footer__email {
  color: #ffffff;
  text-decoration: none;
}
.footer__email:hover {
  color: rgb(187, 140, 187);
}
.footer__middle {
  margin: 1.5rem 0;
}
.footer__top-text {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .footer__top-text {
    margin-top: 2rem;
  }
}
.footer__copyright {
  margin: 1rem 0 0 0;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin: 2rem 0 0 0;
  }
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 25vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    height: 45vh;
  }
}
.hero__overlay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(50, 50, 50, 0.5);
  height: 100%;
  width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  .hero__overlay {
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__overlay {
    padding: 8rem;
  }
}
.hero__title {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
@media (min-width: 768px) {
  .about {
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 2rem 8rem;
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .about__content {
    padding: 1rem 3rem;
  }
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .about__container {
    flex-direction: row;
  }
}
.about__title {
  margin: 0.5rem 0 0rem 0;
  align-self: flex-start;
  font-weight: 600;
}
.about__image {
  width: 100%;
  margin: 1rem 0;
  align-self: center;
}
@media (min-width: 768px) {
  .about__image {
    margin: 0 0 2rem 0;
  }
}
.about__quote {
  margin-bottom: 1rem;
  align-self: flex-start;
  font-weight: 600;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    width: 80%;
  }
}
.about__reference {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.about__band {
  align-self: flex-start;
  font-weight: 550;
  margin: 1rem 0;
}
.about__text {
  color: #323232;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .about__text {
    margin-right: 2rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    line-height: 1.25;
  }
}

.photos {
  background-color: #fafafa;
  padding: 1rem 1rem;
}
@media (min-width: 768px) {
  .photos {
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .photos {
    padding: 2rem 8rem;
  }
}
.photos__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .photos__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.photos__title {
  font-weight: 550;
  align-self: flex-start;
  margin: 0;
}
@media (min-width: 768px) {
  .photos__title {
    margin-bottom: 1rem;
  }
}
.photos__images {
  display: inline-block;
  width: 100%;
  margin: 0.5rem 0;
  filter: grayscale(100%);
}
.photos__images:hover {
  filter: grayscale(0%);
}
@media (min-width: 768px) {
  .photos__images {
    width: 29%;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media (min-width: 768px) {
  .comments {
    padding: 2rem;
  }
}
@media (min-width: 768px) {
  .comments__wrapper {
    width: 90%;
    align-self: center;
  }
}
@media (min-width: 1280px) {
  .comments__wrapper {
    max-width: 75rem;
  }
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid #e1e1e1;
  padding: 1rem 0;
}
.comment__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.comment__left {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100%;
  margin: 1rem 0 0 0;
}
.comment__right {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.comment__right-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 1rem 0;
}
.comment__profile {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #e1e1e1;
}
.comment__name {
  font-weight: 700;
}
.comment__date {
  color: #afafaf;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #e1e1e1;
}
.form__left {
  display: flex;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  margin: 1.71875rem 0 0;
}
.form__right {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.form__profile {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-size: cover;
  background-position: center;
}
.form__label {
  color: #afafaf;
  margin-bottom: 0.5rem;
}
.form__name, .form__comment {
  width: 100%;
  margin-bottom: 1rem;
  font-family: "Avenir", Verdana, sans-serif;
  border: 1px solid #afafaf;
  border-radius: 4px;
  background-color: #fafafa;
  color: #000000;
  padding: 0.5rem;
}
.form__name {
  height: 2.5rem;
}
.form__comment {
  height: 7.5rem;
}
.form__button {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-weight: 550;
  width: 100%;
  color: #ffffff;
  text-align: center;
  background-color: #323232;
  border: none;
  border-radius: 4px;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .form__button {
    width: auto;
    margin: 1rem 0;
    align-self: flex-end;
    padding: 1rem 3rem;
  }
}/*# sourceMappingURL=bio.css.map */