@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Avenir";
}

h1 {
  font-size: 2.5rem;
  line-height: 4.25rem;
  font-weight: 400;
  color: #ffffff;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.75rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 1.75rem;
  line-height: 3rem;
  font-weight: 550;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  padding-bottom: 0 margin-bottom 0;
}
.header .title {
  text-align: center;
  margin: 1rem 0 0 0;
}
.header .nav {
  width: 100vw;
}
.header .nav__items {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
}
.header .nav__items .nav__item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  width: 100%;
  margin: 0;
  padding-bottom: 1rem;
}
.header .nav__items .nav__item--active {
  border-bottom: 7px white solid;
}
.header .nav__items .nav__item .nav__link {
  text-decoration: none;
  color: inherit;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.footer__title {
  font-size: 2.5rem;
  font-weight: 550;
  margin: 1rem 0 2rem 0;
}
.footer__image {
  height: 2.75rem;
  margin: 0 2rem 0 0;
}
.footer__site {
  font-size: 2.5rem;
  line-height: 4.25rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 5rem;
}
.footer__card {
  margin: 0.75rem 0.75rem 0.75rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__text {
  margin: 0.25rem 0;
}
.footer__text--bold {
  font-weight: 700;
}
.footer .card__top, .footer .card__middle {
  margin: 0.5rem 0;
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 75vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.hero .hero__overlay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(50, 50, 50, 0.3137254902);
  height: 100%;
  width: 100%;
}
.hero .hero__title {
  color: #ffffff;
  font-size: 2.5rem;
  padding-left: 2rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.about__title {
  margin: 2rem 0 0.5rem 0;
  padding-left: 2rem;
  align-self: flex-start;
  font-size: 2.5rem;
  font-weight: 600;
}
.about__image {
  width: 95%;
  margin: 1rem 0;
}
.about__quote {
  margin: 0 1rem 0.5rem 1rem;
}
.about__band {
  align-self: flex-start;
  margin: 0 0 1rem 1rem;
  font-weight: 450;
}
.about__text {
  margin: 0 1.5rem 1rem 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #323232;
}

.photos {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.photos__title {
  font-size: 2.5rem;
  font-weight: 550;
  align-self: flex-start;
  margin: 2rem 2rem 1rem 2rem;
}
.photos__images {
  display: inline-block;
  width: 90%;
  margin: 1rem 0;
}/*# sourceMappingURL=bio.css.map */