@use "./partials/global" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 15rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  @include tablet {
    height: 40rem;
  }

  &__overlay {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba($color: #323232, $alpha: 0.5);
    height: 100%;
    width: 100%;
    padding: 1rem;
    @include tablet {
      padding: 2rem;
    }
    @include desktop {
      padding: 8rem;
    }
  }

  &__title {
    color: $bandsite-primary-light;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    @include tablet {
      font-size: 3.75rem;
    }
    @include desktop {
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    padding: 2rem 8rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include tablet {
      padding: 1.5rem 3rem 1rem 3rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include tablet {
      flex-direction: row;
    }
  }

  &__title {
    margin: 0.5rem 0 0rem 0;
    align-self: flex-start;
    font-weight: 600;
  }

  &__image {
    width: 100%;
    margin: 1rem 0;
    align-self: center;
    @include tablet {
      margin: 0 0 2rem 0;
    }
  }

  &__quote {
    margin-bottom: 1rem;
    align-self: flex-start;
    font-weight: 600;
    font-size: 1rem;
    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      width: 80%;
    }
  }

  &__reference {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  &__band {
    align-self: flex-start;
    font-weight: 550;
    margin: 1rem 0;
  }

  &__text {
    color: $bandsite-primary-dark;
    margin-bottom: 1rem;
    @include tablet {
      margin-right: 2rem;
      margin-bottom: 0;
      font-size: 0.875rem;
      line-height: 1.25;
    }
  }
}

.photos {
  background-color: $bandsite-secondary-light;
  padding: 1rem 1rem;
  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    padding: 2rem 8rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__title {
    font-weight: 550;
    align-self: flex-start;
    margin: 0;
    @include tablet {
      margin-bottom: 1rem;
    }
  }

  &__images {
    display: inline-block;
    width: 100%;
    margin: 0.5rem 0;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
    }
    @include tablet {
      width: 29%;
    }
  }
}

.comments {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }
  @include desktop {
    padding: 2rem 8rem;
  }
  &__wrapper {
    @include tablet {
      width: 80%;
      align-self: center;
    }
    @include desktop {
      margin: 0 auto;
      max-width: 55%;
    }
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $bandsite-secondary-mid;

  &__left {
    display: flex;
    justify-content: flex-start;
    width: auto;
    height: 100%;
    margin: 1.3rem 1rem 0 0;
  }

  &__right {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__profile {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-image: (url(../assets/images/Mohan-muruge.jpg));
    background-size: cover;
    background-position: center;
    @include tablet {
      height: 3rem;
      width: 3rem;
    }
  }

  &__label {
    color: $bandsite-primary-mid;
    margin-bottom: 0.25rem;
    font-size: 0.8125rem;
  }

  &__name,
  &__comment {
    font-size: 0.8125rem;
    width: 100%;
    margin-bottom: 1rem;
    font-family: "Avenir", Verdana, sans-serif;
    border: 1px solid $bandsite-secondary-mid;
    border-radius: 4px;
    background-color: $bandsite-secondary-light;
    color: $bandsite-secondary-dark;
    padding: 0.75rem;
    @include tablet {
      padding: 1rem;
      font-size: 0.875rem;
    }
    &--error,
    &--error {
      border: 1px solid $bandsite-error-color;
    }
  }

  &__name {
    height: 2.5rem;
    &:focus {
      outline: none;
      border: 1px solid black;
    }
    @include tablet {
      height: 3rem;
    }
  }

  &__comment {
    height: 7.5rem;
    &:focus {
      outline: none;
      border: 1px solid black;
    }
  }

  &__button {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 550;
    width: 100%;
    color: $bandsite-primary-light;
    text-align: center;
    background-color: $bandsite-primary-dark;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 0;
    @include tablet {
      width: auto;
      margin: 1rem 0;
      align-self: flex-end;
      padding: 0.5rem 3rem;
    }
  }
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid $bandsite-secondary-mid;
  padding: 1rem 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__left {
    display: flex;
    justify-content: flex-start;
    width: auto;
    height: 100%;
    margin: 1.53rem 1rem 0 0;
  }

  &__right {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__right-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 1rem 0;
  }

  &__right-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
  }

  &__like,
  &__delete {
    margin: 0 1rem 0 0;
    font-family: "Avenir", Verdana, sans-serif;
    padding: 0.5rem 1rem;
    color: $bandsite-primary-light;
    background-color: $bandsite-primary-dark;
    border: 0;
    border-radius: 4px;
  }

  &__like-count {
    margin-left: auto;
    font-weight: 700;
    color: rgb(187, 140, 187);
  }

  &__profile {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-color: $bandsite-secondary-mid;
    @include tablet {
      height: 3rem;
      width: 3rem;
    }
  }

  &__name,
  &__date,
  &__text {
    font-size: 0.8125rem;
    @include tablet {
      font-size: 0.875rem;
    }
  }

  &__name {
    font-weight: 700;
  }

  &__date {
    color: $bandsite-primary-mid;
  }
}
