@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;

.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  @include tablet {
    min-height: 25rem;
  }
  @include desktop {
    min-height: 35rem;
  }

  &__iframe {
    width: 100%;
    border: none;
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba($color: #323232, $alpha: 0.5);
    min-height: 100%;
    width: 100%;
    padding: 2rem 1rem;
    @include tablet {
      padding: 2rem;
      align-items: flex-start;
    }
    @include desktop {
      padding: 8rem;
      height: 35rem;
    }
  }

  &__container {
    align-self: flex-start;
    width: 100%;
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__soundcloud-container {
    margin: 1rem 0;
    width: 100%;
    align-self: center;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      margin: 0;
    }
  }

  &__album {
    align-self: flex-start;
    color: $bandsite-primary-light;
    margin-bottom: 1rem;
  }

  &__title {
    color: $bandsite-primary-light;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    width: 75%;
    align-self: flex-start;
    margin-bottom: 2rem;
    @include tablet {
      font-size: 3.75rem;
      line-height: 4.25rem;
      margin-bottom: 3rem;
    }
    @include desktop {
      margin-right: 4rem;
    }
  }
}

.shows {
  @include tablet {
    padding-bottom: 2rem;
  }
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 8rem;
    padding-top: 2rem;
  }

  &__title {
    margin: 2rem 0 0 1rem;
    @include tablet {
      padding: 1rem 2rem;
    }
    @include desktop {
      padding: 0 2rem 0 7rem;
      margin: 1.125rem 0 0 1rem;
    }
  }
}

.cards {
  @include tablet {
    margin: 0 1rem;
  }

  &__divider {
    border-bottom: 2px solid $bandsite-secondary-mid;
    width: 100vw;
    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 65vw;
    }
  }
  &__heading {
    display: none;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1.5rem 2rem 0 2rem;
    }
  }
}

.card {
  padding: 1rem;
  &:hover {
    background-color: $bandsite-secondary-light;
  }

  &--selected {
    background-color: $bandsite-secondary-mid;
  }

  &--selected:hover {
    background-color: $bandsite-secondary-mid;
  }
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 2rem;
  }

  &__top,
  &__middle,
  &__bottom {
    padding: 0.75rem 0;
    .card__text--light {
      @include tablet {
        display: none;
      }
    }
  }

  &__text {
    width: 8rem;
  }

  &__text--light {
    color: $bandsite-primary-mid;
  }

  &__text--bold {
    font-weight: 700;
  }

  &__placeholder {
    width: 10.33rem;
    height: 2.53rem;
  }

  &__button {
    width: 100%;
    text-align: center;
    color: $bandsite-primary-light;
    background-color: $bandsite-primary-dark;
    border-radius: 4px;
    border: none;
    padding: 1rem 0;
    font-size: 1.25rem;
    font-family: "Avenir", Verdana, sans-serif;
    @include tablet {
      padding: 0.5rem 2rem;
      width: auto;
    }
  }
}
